### Import packages

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('../data/NorMedTerm.csv', delimiter="\t", header=None)

In [20]:
df

                  0          1     2    3          4
0                a.     ABBREV    MO  NaN  automatic
1       abakteriell      OTHER    MO  NaN     manual
2        abarognose  CONDITION    MO  NaN  automatic
3         Abboticin  SUBSTANCE    MO  NaN  automatic
4               AIS     ABBREV    MO  NaN  automatic
...             ...        ...   ...  ...        ...
78100          Vene   ANAT_LOC  ALOC  NaN        NaN
78101      Veneport       TOOL  ALOC  NaN        NaN
78102      Vesikkel   ANAT_LOC  ALOC  NaN        NaN
78103         Vulva   ANAT_LOC  ALOC  NaN        NaN
78104  Ytre øregang   ANAT_LOC  ALOC  NaN        NaN

[78105 rows x 5 columns]

In [21]:
df[1].unique()

array(['ABBREV', 'OTHER', 'CONDITION', 'SUBSTANCE', 'PROCEDURE',
       'PHYSIOLOGY', 'ANAT_LOC', 'DISCIPLINE', 'MICROORGANISM', 'PERSON',
       'TOOL', 'ORGANIZATION'], dtype=object)

In [22]:
df.groupby(1).size()

1
ABBREV             236
ANAT_LOC           658
CONDITION        24071
DISCIPLINE         387
MICROORGANISM      193
ORGANIZATION       103
OTHER              112
PERSON             232
PHYSIOLOGY         112
PROCEDURE        10420
SUBSTANCE        41365
TOOL               216
dtype: int64

In [23]:
new_df = df[(df[1] == 'CONDITION') | (df[1] == 'PROCEDURE') | (df[1] == 'SUBSTANCE')]

In [24]:
new_df = new_df[[0,1]]

In [25]:
new_df.rename(columns={0: 'Term', 1: 'Category'})

                             Name   Category
2                      abarognose  CONDITION
3                       Abboticin  SUBSTANCE
6             abdominalangiografi  PROCEDURE
7               abdominalblødning  CONDITION
8                    abdominalgia  CONDITION
...                           ...        ...
77840  Øyevæske-Bredt substanssøk  SUBSTANCE
77842                     Abscess  CONDITION
77885                   Decubitus  CONDITION
77948         Kateter innleggelse  PROCEDURE
78038                      Pustel  CONDITION

[75856 rows x 2 columns]

In [26]:
new_df.to_csv('../data/ner_train.csv')