In [16]:
# INFO: Baseline model. Currently fixing!
import nltk
from nltk.stem import SnowballStemmer
import pandas as pd
from preprocess.setup import Preprocess

nltk.download("punkt")

import os
os.getcwd()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\driti\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

'c:\\Users\\driti\\Documents\\NTNU\\Master\\master-project\\notebooks'

In [17]:
df = pd.read_csv("../data/NorMedTerm.csv", delimiter="\t")

In [18]:
df = df[['a.', 'ABBREV']]

In [19]:
df['ABBREV'] = df['ABBREV'].apply(lambda x: 'TREATMENT' if x in ['PROCEDURE', 'SUBSTANCE'] 
                                   else 'CONDITION' if x == 'CONDITION' 
                                   else 'O')

In [20]:
df

                    a.     ABBREV
0          abakteriell          O
1           abarognose  CONDITION
2            Abboticin  TREATMENT
3                  AIS          O
4      ABC-førstehjelp          O
...                ...        ...
78099             Vene          O
78100         Veneport          O
78101         Vesikkel          O
78102            Vulva          O
78103     Ytre øregang          O

[78104 rows x 2 columns]